<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MVC Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Tech Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">

          {{#unless logged_in}}
          {{#unless hideLogin}}
          <li class="nav-item">
            <a href="/login" class="nav-link text-primary material-icons">login</a>
          </li>
          {{/unless}}
          {{/unless}}


          {{#if logged_in}}
          <li class="nav-item d-flex align-items-center">
            <a href="/dashboard" class="bg-primary rounded-circle p-2 text-white pointer"
              style="text-decoration: none;"> {{initials}}</a>
          </li>
          <li class="nav-item">
            <span class="nav-link text-danger material-icons" id="logout">logout</a>
          </li>
          <script src="/js/logout.js"></script>
          {{/if}}

        </ul>
      </div>
    </div>
  </nav>

  <div class="container my-4">
    {{{body}}}
  </div>

  <footer class="bg-dark text-light py-3 mt-4">
    <div class="container text-center">
      &copy; Tech Blog 2023
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>